* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

#container {
    height: 50vh;
    width: 50vw;
    border: 1px solid black;
}


/* Search Results */
.search-result {
    border: 1px solid red;
    height: 500px;
}

.search-result-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    aspect-ratio: initial;
}

.search-result-author {
    /* styles for each author name */
}

.search-result-language-holder {
    /* styles for the language display */
}

.categories-holder {
    /* styles for the categories container */
}

.category {
    /* styles for each category tag */
}
