* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    padding-top: 10vh;
}

#container {
    height: 50vh;
    width: 80vw;
    border: 1px solid black;
}


/* Search Results */
.search-result {
    border: 1px solid red;
    height: 500px;
}

.search-result-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    aspect-ratio: initial;
}

.search-result-author {

}

.search-result-language-holder {

}

.categories-holder {

}

.category {

}

#header {
    height: 10vh;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-books {
    border: 1px solid black;
    width: 80vw;
    height: 40vh;
}

#my-books-holder {
    border: 1px solid blue;
    height: 80%;
}

/* grid view */
.grid-view-container {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    border: 1px solid red;
}

.grid-view-book {
    border: 1px solid black;
    width: 25%;
    border-radius: 15px;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.grid-view-cover {
    height: 80%;
    border: 1px solid yellow;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-view-title {
    font-size: 1rem;
    border: 1px solid green;
    height: 40%;
    width: 100%;
}

.grid-view-remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* list view */
.list-view-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border: 1px solid pink;
}

.list-view-book {
    border: 1px solid black;
    width: 100%;
    height: 30%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.list-view-cover {
    height: 100px;
    border: 1px solid red;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
}

