* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

#container {
    height: 50vh;
    width: 50vw;
    border: 1px solid black;
}

.profile-picture {
    height: 20vh;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 50%;
}

.profile-picture:hover {
    cursor: pointer;
}

.profile-pictures-holder {
    border: 1px solid black;
    height: 10vh;
    display: flex;
}

.pfp {
    height: 100%;
    aspect-ratio: 1;
    border: 1px solid black;
}

.selected-pic {
    border: 2px solid red
}