* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

#container {
    height: 50vh;
    width: 80vw;
    border: 1px solid black;
}


/* Search Results */
.search-result {
    border: 1px solid red;
    height: 500px;
}

.search-result-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    aspect-ratio: initial;
}

.search-result-author {
    /* styles for each author name */
}

.search-result-language-holder {
    /* styles for the language display */
}

.categories-holder {
    /* styles for the categories container */
}

.category {
    /* styles for each category tag */
}

#my-books {
    border: 1px solid black;
    width: 80vw;
    height: 40vh;
}

/* grid view */
.grid-view-container {
    display: flex;
    width: 80%;
    height: 80%;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid-view-book {
    border: 1px solid black;
    width: 25%;
    border-radius: 15px;
}

.grid-view-cover {
    height: 80%;
    background-repeat: no-repeat;
}

/* list view */
.list-view-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.list-view-book {
    border: 1px solid black;
    width: 100%;
    height: 20%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.list-view-cover {
    height: 90%;
    border: 1px solid red;
}

